body{
    background-color: rgb(165, 235, 212);
    background-image: radial-gradient(circle, rgb(17, 76, 56) 1px, transparent 1px);
    background-size: 40px 40px;
    background-position: 0 0;
}
.heading{
    text-align: center;
}
.container{
    border: 2px solid #000;
    border-radius: 10px;
    padding: 30px;
    display: block;
    margin: 50px auto;
    background-color: rgb(0, 0, 0, 0.3);
    width: 400px;
}
.searchBox-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.search-box{
    font-size: 20px;
    padding: 5px 15px;
    margin: 5px;
    border-radius: 5px;
}
.search-icon{
    width: 20px;
    height: 20px;
    padding: 5px 10px;
    margin: 7px;
    background-color: #fff;
    border-radius: 5px;
}
#word{
    text-align: center;

}
#meaning{
    text-align: center;
}